*{
    margin: 0;
    padding: 0;
}
#mainbox{
    font-size: 24px;
    cursor: pointer;
    color: #adb5bd;
    transition: all .6s;
    margin-left: 0 !important;
    position: fixed;
    top: 0;
    margin-top: 15px;
}
.sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background: #222;
    z-index: 4;
    padding-top: 100px;
    overflow-x: hidden;
}
.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none !important;
    font-size: 20px;
    color: #999 !important;
    display: block;
}
.sidemenu a:hover{
    color: #fff;
}
.sidemenu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}
.main img{
    width: 180px;
    height: 55px;
    opacity: 0.8;
}
.main p{
    color: #01195B;
    margin-top: 10px;
    margin-bottom: 5px;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #01195B;
}
nav ul li{
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}
nav ul li a{
    text-decoration: none !important;
    color: #fff !important;
    font-size: 15px;
}
.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* .hero-1 img{
    width: 300px;
    height: 400px;
} */
.hero-2 h1{
    color: #01195B;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hero-2 p{
    color: #212529;
    font-size: 17px;
}
.btns1{
    padding-top: 30px;
    /* padding-bottom: 30px; */
    background: #495057;
}
.btns1 span{
    margin-left: 5px;
}
.btn11,.btn12,.btn13,.btn14,.btn15,.btn16,.btn17{
    margin-left: 5px;
    margin-right: 5px;
}
.btn11{
    background: #01195B;
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn12{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn13{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn14{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn15{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn16{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;
}
.btn17{
    background: linear-gradient(45deg, rgba(1,25,91),rgba(17,122,139));
    color: #fff;
    padding:9px;
    border-radius:30px;    
}
.gallery{
    /* padding-top: 30px; */
    padding-bottom: 30px;
    background: #495057;
}
.btns{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #222222;
    border-bottom: 4px solid #b78c33;
}
.btn1 span,.btn2 span,.btn3 span,.btn4 span,.btn5 span,.btn6 span{
    margin-left: 10px;
}
.btn1{
    background-color: #4267B2;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.btn2{
    background-color: #55acee;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.btn3{
    background-color: #CB2027;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.btn4{
    background-color: #7d7d7d;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.btn5{
    background-color: #95D03A;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.btn6{
    background-color: #0077b5;
    color: #fff;
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
}
.foot{
    padding-top: 30px;
    background-color: #222222;
}
.foot p{
    color: #999;
    font-size: 15px;
}
.ulli{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ulli ul li{
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #b78c33;
    background: transparent;
}
.ulli ul li a{
    text-decoration: none !important;
    color: #b78c33 !important;
}
.ulli ul li:hover{
    color: #fff !important;
    background: #b78c33;
}
.ulli ul li:hover a{
    color: #fff !important;
}
.foot-1 h5{
    color: #aaa;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px;
}
.ulli-1 ul li{
    list-style-type: none;
    margin-bottom: 5px;
}
.ulli-1 ul li a{
    text-decoration: none !important;
    color: #aaa;
}
.para{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000;
}
.para p{
    color: #6c757d;
    font-size: 17px;
}